---
import LocalFont from '../generic/LocalFont.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
  ogImage?: URL;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site || 'https://www.highestliked.com');

if (Astro.props.ogImage === undefined) {
  Astro.props.ogImage = new URL('/og-image.jpg', Astro.site || 'https://www.highestliked.com');
}

const { title, description, ogImage } = Astro.props;

// Ensure og:image is a full URL
const ogImageURL = ogImage;

// Twitter image - use specific Twitter image
const twitterImageURL = new URL('/highestliked-twitter.png', Astro.site || 'https://www.highestliked.com');
---

<head>
  <LocalFont />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Honk&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet" />
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='generator' content={Astro.generator} />

  <link
    rel='alternate'
    href='https://brutal.elian.codes/blog.xml'
    type='application/rss+xml'
  />

  <meta name='title' content={title} />
  <meta name='description' content={description} />

  <meta property='og:type' content='website' />
  <meta property='og:url' content={canonicalURL} />
  <meta property='og:title' content={title} />
  <meta property='og:description' content={description} />
  <meta property='og:image' content={ogImageURL} />

  <meta name='twitter:card' content='summary_large_image' />
  <meta name='twitter:url' content={canonicalURL} />
  <meta name='twitter:title' content={title} />
  <meta name='twitter:description' content={description} />
  <meta name='twitter:image' content={twitterImageURL} />

  <link rel='canonical' href={canonicalURL} />
  <link rel='icon' type='image/jpeg' href='/favico_highestliked.jpg' />

  <title>{title}</title>

      <ViewTransitions />

      <slot />
    </head>
